<ion-header>
  <ion-navbar>
    <ion-title>
      Foodsby
    </ion-title>
  </ion-navbar>
  <ion-toolbar>
      <ion-segment [(ngModel)]="weekday" color="danger">
        <ion-segment-button (ionSelect)="setChoice(0)" value="0">
          M
        </ion-segment-button>
        <ion-segment-button (ionSelect)="setChoice(1)" value="1">
          T
        </ion-segment-button>
        <ion-segment-button (ionSelect)="setChoice(2)" value="2">
          W
        </ion-segment-button>
        <ion-segment-button (ionSelect)="setChoice(3)" value="3">
          Th
        </ion-segment-button>
        <ion-segment-button (ionSelect)="setChoice(4)" value="4">
          F
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content padding class="cards-bg">

  <ion-option *ngIf="dropoffs">
    <div>
          <ion-list>
              <ion-option *ngFor="let delivery of dropoffs[choice].deliveries">
                <ion-card>

                  <img src={{delivery.logoUrl}}/>
                  <ion-card-content>
                    <ion-card-title >
                          {{delivery.restaurantName}}
                    </ion-card-title>
                  </ion-card-content>
                  <ion-row no-padding>
                    <ion-col>
                      <button ion-button clear small color="danger" icon-start>
                        <ion-icon name='alarm'></ion-icon>
                        {{delivery.cutoff}}
                      </button>
                    </ion-col>
                    <ion-col text-center>
                      <button ion-button small color="danger" icon-start>
                        Order
                      </button>
                    </ion-col>
                    <ion-col text-right>
                      <button ion-button clear small color="danger" icon-start>
                        <ion-icon name='home'></ion-icon>
                        {{delivery.dropoff}}
                      </button>
                    </ion-col>
                  </ion-row>

              </ion-card>
          </ion-option>
        </ion-list>
      </div>
    </ion-option>

</ion-content>
